* {
  margin: 0;
  padding: 0;
}

#title {
  border: 1px solid red;
}

#color-palette {
  height: 100px;
  width: 408px;
  border: 1px solid red;
}

.color {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
}

.color:nth-child( 1 ) {
  background-color: black;
}

.color:nth-child( 2 ) {
  background-color: rgb(0, 156, 59);
}

.color:nth-child( 3 ) {
  background-color: rgb(255, 223, 0);
}

.color:nth-child( 4 ) {
  background-color: rgb(0, 39, 118);
}

#pixel-board {
  height: 210px;
  width: 210px;
  border: 1px red solid;
  line-height: 0px;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
}
